<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/favicon-tree.png">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css"
        integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
    <title>ERROR: Card not found</title>
    <link href="//fonts.googleapis.com/css2?family=Merriweather:wght@900&amp;display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&amp;display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@400;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles-for-template-engine.css">

    <script src="moz-extension://e9defaf7-aa31-411c-8e7f-b45602174806/assets/prompt.js"></script>
</head>

<body class="body">
    <div>
        <h1 style="margin-bottom: 30px; color:#693939; font-size: 60px;">CARD NOT FOUND</h1>
        <div class="homeButton">
            <a href="https://sagramielgo-react-magicians.herokuapp.com" class="homeLink">
                Back Home
            </a>
        </div>

    </div>

</body>

</html>